<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/day.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <title>To Do per Day</title>
</head>
<body>
    <section class="header">
        <button class="roundBtn fontEffect fontStyleP2 theDay">Tuesday</button>
        <h1 class="titleHead fontEffect fontStyleP2">Pick<br>Your<br>Day.</h1>
    </section>
    <div class="line"> <div class="aline"></div></div>
    <section class="allTask">
        <div class="task">
            <div class="headTask fontEffect">
                <h2 class="titleTask">To Do:</h2>
                <div class="i"><i class="fas fa-list-alt logo"></i></div>
            </div>
            <input type="text" class="input" id="toDo">
        </div>
        <div class="task">
            <div class="headTask fontEffect">
                <h2 class="titleTask">Workout:</h2>
                <div class="i"><i class="fas fa-dumbbell logo"></i></div>
            </div>
            <input type="text" class="input" id="workout">
        </div>
        <div class="task">
            <div class="headTask fontEffect">
                <h2 class="titleTask">Meal:</h2>
                <div class="i"><i class="fas fa-utensils logo"></i></div>
            </div>
            <input type="text" class="input" id="meal">
        </div>
        <div class="task">
            <div class="headTask fontEffect">
                <h2 class="titleTask">Buy:</h2>
                <div class="i"><i class="fas fa-wallet logo"></i></div>
            </div>
            <input type="text" class="input" id="buy">
        </div>
    </section>
    <section class="footer">
        <a href="/" class="roundBtn fontEffect "><span class="marginGoBack">Go<br>Back</span></a>
    </section>
    <script src="static/scripts/manager.js"></script>
</body>
</html>