
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/stylesheets/style.css" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
  <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/491fea75db.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="mainHome">
      <a class="roundBtn fontEffect fSize57" href="/tasksOfTheDay">Today</a>
      <a class="roundBtn fontEffect fSize57" href="/planYourWeek">Your<br>Week</a>
      <a class="fontEffect accBtn">Accomplishment</a>
      <!-- <a class="fontEffect accBtn">Accomplishment<i class="fas fa-chart-line accIconMarg"></i></a> -->
    </nav>
</body>
</html>

