<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/stylesheets/day.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="../static/stylesheets/today.css">
    <title>Manage your day</title>
</head>
<body>
    <header class="header">
        <button class="roundBtn fontEffect fontStyleP2" id="chooseDay">Friday</button>
    </header>
    <h1 class="fontEffect fSize18">You have <span class="numTaskToday">6</span> tasks planned today.</h1>
    <section class="displayTaskToday">
        <article class="dbTaskDisplay" id="#">
            <h1 class="activityName">To Do</h1>
        </article>
        <article class="dbTaskDisplay" id="#">
            <h1 class="activityName">Workout</h1>
        </article>
        <article class="dbTaskDisplay" id="#">
            <h1 class="activityName">Meal</h1>
        </article>
        <article class="dbTaskDisplay" id="#">
            <h1 class="activityName">Buy</h1>
        </article>
    </section>
    <footer class="footer">
        <a href="/" class="goBackBtn fontEffect"><span class="marginGoBack">Go<br>Back</span></a>
    </footer>
    <script src="static/scripts/today.js"></script>
</body>
</html>